<%- include('partials/header')  -%>
<link rel="icon" href="https://images-na.ssl-images-amazon.com/images/I/41SVPG363NL.png" type="image/x-icon">
<link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1><strong>CINE<span class="a">MIX</span></strong></h1>

    <img src="https://images-na.ssl-images-amazon.com/images/I/41SVPG363NL.png" alt="CINEMIX - logo">
    <h2>Movie Recommender System</h2>
    <p>Have Account!</p>
    <div class="container container-one">
        <a href="/login">
            <button style="color: white;">
                Login
                <div class="fill-one"></div>
            </button>
        </a>
    </div>
    <p>Don't have Account? Make One!</p>
    <div class="container container-two">
        <a href="/register">
            <button style="color: white;">
                Register
                <div class="fill-two"></div>
            </button>
        </a>
    </div>

    <%- include('partials/footer')  -%>