<%- include('partials/header')  -%>
<link rel="icon" href="https://images-na.ssl-images-amazon.com/images/I/41SVPG363NL.png" type="image/x-icon">
<link rel="stylesheet" href="/css/loader.css">
</head>

<body>
    <div class="loader">
        <div class="load-text">
            <div class="loaded-text"><img src="https://images-na.ssl-images-amazon.com/images/I/41SVPG363NL.png"
                    width="175" height="175" alt=""></div>
            <div class="loading-text">CINE<span class="a">MIX</span></div>
        </div>
    </div>

    <script src="/js/loader.js"></script>

    <%- include('partials/footer')  -%>